@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-500:#2196F3;
  --bluegray-500:#607D8B;
  --green-100:#D4ECD5;
  --green-600:#419544;
  --purple-100:#E7CBEC;
  --purple-600:#852196;
  --surface-0:#FFFFFF;
  --surface-300:#E0E0E0;
  --surface-400:#BDBDBD;
  --surface-50:#FAFAFA;
  --surface-500:#9E9E9E;
  --surface-600:#757575;
  --surface-800:#424242;
  --surface-900:#212121;
  --yellow-500:#FBC02D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #ffffff;
}


